# комментарий — эта строка игнорируется
# не обрабатывать файлы, имя которых заканчивается на .a
*.pyc
# НО отслеживать файл lib.a, несмотря на то, что мы игнорируем все .a файлы с п$
#!lib.a
# игнорировать только файл TODO находящийся в корневом каталоге, не относится к$
#/TODO
# игнорировать все файлы в каталоге build/
venv/
media/
# игнорировать doc/notes.txt, но не doc/server/arch.txt
#doc/*.txt
# игнорировать все .txt файлы в каталоге doc/
#doc/**/*.txt
*~


